.sprite-bonsaisansheet { background-image: url('bonsaisansheet.png'); background-repeat: no-repeat; display: inline-block; }
.sprite-bonsaisansheet-bonsaisansheet_3 { width: 98px; height: 158px; background-position: -33px -44px; }
.sprite-bonsaisansheet-bonsaisansheet_4 { width: 94px; height: 158px; background-position: -155px -44px; }
.sprite-bonsaisansheet-bonsaisansheet_5 { width: 97px; height: 160px; background-position: -279px -42px; }
.sprite-bonsaisansheet-bonsaisansheet_6 { width: 99px; height: 159px; background-position: -398px -42px; }
.sprite-bonsaisansheet-bonsaisansheet_7 { width: 98px; height: 156px; background-position: -541px -46px; }
.sprite-bonsaisansheet-bonsaisansheet_8 { width: 98px; height: 156px; background-position: -667px -46px; }
.sprite-bonsaisansheet-bonsaisansheet_9 { width: 99px; height: 156px; background-position: -799px -46px; }
.sprite-bonsaisansheet-bonsaisansheet_10 { width: 99px; height: 156px; background-position: -926px -46px; }
.sprite-bonsaisansheet-bonsaisansheet_13 { width: 81px; height: 135px; background-position: -13px -269px; }
.sprite-bonsaisansheet-bonsaisansheet_14 { width: 80px; height: 135px; background-position: -102px -269px; }
.sprite-bonsaisansheet-bonsaisansheet_15 { width: 79px; height: 132px; background-position: -189px -268px; }
.sprite-bonsaisansheet-bonsaisansheet_16 { width: 75px; height: 140px; background-position: -352px -265px; }
.sprite-bonsaisansheet-bonsaisansheet_17 { width: 77px; height: 140px; background-position: -429px -265px; }
.sprite-bonsaisansheet-bonsaisansheet_18 { width: 77px; height: 133px; background-position: -271px -270px; }
.sprite-bonsaisansheet-bonsaisansheet_19 { width: 78px; height: 134px; background-position: -522px -272px; }
.sprite-bonsaisansheet-bonsaisansheet_21 { width: 145px; height: 131px; background-position: -935px -274px; }
.sprite-bonsaisansheet-bonsaisansheet_22 { width: 151px; height: 125px; background-position: -629px -280px; }
.sprite-bonsaisansheet-bonsaisansheet_24 { width: 208px; height: 172px; background-position: -856px -451px; }
.sprite-bonsaisansheet-bonsaisansheet_25 { width: 139px; height: 162px; background-position: -383px -460px; }
.sprite-bonsaisansheet-bonsaisansheet_26 { width: 158px; height: 165px; background-position: -665px -456px; }
.sprite-bonsaisansheet-bonsaisansheet_27 { width: 98px; height: 142px; background-position: -10px -468px; }
.sprite-bonsaisansheet-bonsaisansheet_28 { width: 114px; height: 154px; background-position: -119px -467px; }
.sprite-bonsaisansheet-bonsaisansheet_29 { width: 124px; height: 157px; background-position: -249px -463px; }
.sprite-bonsaisansheet-bonsaisansheet_30 { width: 118px; height: 158px; background-position: -534px -464px; }
.sprite-bonsaisansheet-bonsaisansheet_35 { width: 167px; height: 154px; background-position: -430px -677px; }
.sprite-bonsaisansheet-bonsaisansheet_36 { width: 82px; height: 70px; background-position: -631px -676px; }
.sprite-bonsaisansheet-bonsaisansheet_37 { width: 83px; height: 70px; background-position: -716px -676px; }
.sprite-bonsaisansheet-bonsaisansheet_38 { width: 83px; height: 70px; background-position: -801px -676px; }
.sprite-bonsaisansheet-bonsaisansheet_39 { width: 84px; height: 71px; background-position: -889px -676px; }
.sprite-bonsaisansheet-bonsaisansheet_40 { width: 85px; height: 71px; background-position: -979px -676px; }
.sprite-bonsaisansheet-bonsaisansheet_41 { width: 145px; height: 139px; background-position: -26px -682px; }
.sprite-bonsaisansheet-bonsaisansheet_42 { width: 190px; height: 119px; background-position: -215px -702px; }
.sprite-bonsaisansheet-bonsaisansheet_43 { width: 21px; height: 20px; background-position: -793px -767px; }
.sprite-bonsaisansheet-bonsaisansheet_44 { width: 82px; height: 71px; background-position: -631px -779px; }
.sprite-bonsaisansheet-bonsaisansheet_45 { width: 83px; height: 71px; background-position: -716px -779px; }
.sprite-bonsaisansheet-bonsaisansheet_46 { width: 85px; height: 70px; background-position: -801px -780px; }
.sprite-bonsaisansheet-bonsaisansheet_47 { width: 84px; height: 71px; background-position: -889px -780px; }
.sprite-bonsaisansheet-bonsaisansheet_48 { width: 86px; height: 70px; background-position: -980px -780px; }
.sprite-bonsaisansheet-bonsaisansheet_51 { width: 75px; height: 102px; background-position: -545px -902px; }
.sprite-bonsaisansheet-bonsaisansheet_52 { width: 55px; height: 93px; background-position: -16px -911px; }
.sprite-bonsaisansheet-bonsaisansheet_53 { width: 58px; height: 96px; background-position: -410px -907px; }
.sprite-bonsaisansheet-bonsaisansheet_54 { width: 78px; height: 90px; background-position: -228px -913px; }
.sprite-bonsaisansheet-bonsaisansheet_55 { width: 59px; height: 85px; background-position: -88px -919px; }
.sprite-bonsaisansheet-bonsaisansheet_56 { width: 47px; height: 76px; background-position: -165px -922px; }
.sprite-bonsaisansheet-bonsaisansheet_57 { width: 87px; height: 80px; background-position: -309px -922px; }
.sprite-bonsaisansheet-bonsaisansheet_58 { width: 56px; height: 82px; background-position: -472px -919px; }
.sprite-bonsaisansheet-bonsaisansheet_59 { width: 23px; height: 22px; background-position: -850px -918px; }
.sprite-bonsaisansheet-bonsaisansheet_60 { width: 70px; height: 91px; background-position: -850px -920px; }
.sprite-bonsaisansheet-bonsaisansheet_61 { width: 74px; height: 95px; background-position: -991px -916px; }
.sprite-bonsaisansheet-bonsaisansheet_62 { width: 55px; height: 88px; background-position: -925px -922px; }
.sprite-bonsaisansheet-bonsaisansheet_63 { width: 111px; height: 72px; background-position: -639px -936px; }
.sprite-bonsaisansheet-bonsaisansheet_64 { width: 78px; height: 44px; background-position: -756px -946px; }
.sprite-bonsaisansheet-bonsaisansheet_66 { width: 133px; height: 150px; background-position: -865px -1041px; }
.sprite-bonsaisansheet-bonsaisansheet_67 { width: 122px; height: 124px; background-position: -562px -1065px; }
.sprite-bonsaisansheet-bonsaisansheet_68 { width: 122px; height: 108px; background-position: -20px -1076px; }
.sprite-bonsaisansheet-bonsaisansheet_69 { width: 189px; height: 109px; background-position: -160px -1077px; }
.sprite-bonsaisansheet-bonsaisansheet_70 { width: 157px; height: 106px; background-position: -380px -1082px; }
.sprite-bonsaisansheet-bonsaisansheet_71 { width: 119px; height: 111px; background-position: -701px -1078px; }
.sprite-bonsaisansheet-bonsaisansheet_72 { width: 21px; height: 21px; background-position: -702px -1090px; }
.sprite-bonsaisansheet-bonsaisansheet_73 { width: 395px; height: 32px; background-position: -9px -1192px; }
.sprite-bonsaisansheet-bonsaisansheet_74 { width: 54px; height: 72px; background-position: -550px -1217px; }
.sprite-bonsaisansheet-bonsaisansheet_75 { width: 69px; height: 62px; background-position: -257px -1227px; }
.sprite-bonsaisansheet-bonsaisansheet_76 { width: 41px; height: 61px; background-position: -423px -1228px; }
.sprite-bonsaisansheet-bonsaisansheet_77 { width: 24px; height: 26px; background-position: -499px -1230px; }
.sprite-bonsaisansheet-bonsaisansheet_78 { width: 40px; height: 63px; background-position: -770px -1227px; }
.sprite-bonsaisansheet-bonsaisansheet_79 { width: 50px; height: 51px; background-position: -351px -1233px; }
.sprite-bonsaisansheet-bonsaisansheet_80 { width: 48px; height: 56px; background-position: -629px -1233px; }
.sprite-bonsaisansheet-bonsaisansheet_81 { width: 47px; height: 55px; background-position: -702px -1233px; }
.sprite-bonsaisansheet-bonsaisansheet_82 { width: 46px; height: 48px; background-position: -23px -1238px; }
.sprite-bonsaisansheet-bonsaisansheet_83 { width: 51px; height: 51px; background-position: -91px -1238px; }
.sprite-bonsaisansheet-bonsaisansheet_84 { width: 57px; height: 48px; background-position: -175px -1238px; }
.sprite-bonsaisansheet-bonsaisansheet_85 { width: 51px; height: 51px; background-position: -834px -1236px; }
.sprite-bonsaisansheet-bonsaisansheet_86 { width: 31px; height: 49px; background-position: -905px -1238px; }
.sprite-bonsaisansheet-bonsaisansheet_87 { width: 25px; height: 23px; background-position: -964px -1234px; }
.sprite-bonsaisansheet-bonsaisansheet_88 { width: 44px; height: 49px; background-position: -1016px -1236px; }
.sprite-bonsaisansheet-bonsaisansheet_89 { width: 23px; height: 37px; background-position: -487px -1252px; }
.sprite-bonsaisansheet-bonsaisansheet_90 { width: 42px; height: 33px; background-position: -957px -1253px; }
.sprite-bonsaisansheet-bonsaisansheet_91 { width: 26px; height: 27px; background-position: -507px -1259px; }
.sprite-bonsaisansheet-bonsaisansheet_92 { width: 369px; height: 32px; background-position: -11px -1315px; }
.sprite-bonsaisansheet-bonsaisansheet_93 { width: 89px; height: 89px; background-position: -867px -1326px; }
.sprite-bonsaisansheet-bonsaisansheet_94 { width: 74px; height: 71px; background-position: -431px -1344px; }
.sprite-bonsaisansheet-bonsaisansheet_95 { width: 79px; height: 72px; background-position: -613px -1343px; }
.sprite-bonsaisansheet-bonsaisansheet_96 { width: 57px; height: 75px; background-position: -707px -1340px; }
.sprite-bonsaisansheet-bonsaisansheet_97 { width: 72px; height: 77px; background-position: -785px -1338px; }
.sprite-bonsaisansheet-bonsaisansheet_98 { width: 58px; height: 52px; background-position: -266px -1359px; }
.sprite-bonsaisansheet-bonsaisansheet_99 { width: 79px; height: 58px; background-position: -340px -1356px; }
.sprite-bonsaisansheet-bonsaisansheet_100 { width: 64px; height: 46px; background-position: -528px -1368px; }
.sprite-bonsaisansheet-bonsaisansheet_101 { width: 36px; height: 31px; background-position: -191px -1379px; }
.sprite-bonsaisansheet-bonsaisansheet_102 { width: 104px; height: 39px; background-position: -965px -1375px; }
